body {
  /* background-color: #3d3334; */
  background-image: url("images/background.png");
  background-size: 100% 100%;
}

.imgLogo {
  width: 300px;
  margin-top: 10%;
  /* float: center;
  padding: 0%; */
}

p {
  float: center;
  padding: 0%;
}

/* remove the underline colour from links */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* image size used for the logo */
.smallImageSize {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: 10%;
  /* width: 50%; */
}

/* image size used for the food pictures */
.mediumImageSize {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-top: 10%;
  /* width: 50%; */
}

/* image size used for the food pictures */
.bigImageSize {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-top: 5%;
  margin-bottom: -4%;
  /* width: 50%; */
}

/* containers to show the menu */
.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 200;
  height: 100;
  gap: 10px;
  /* column-gap: 100px; */
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  justify-content: space-between;
}

.subtitle {
  display: block;
  margin: auto;
  font-size: 80px;
  font-family: "Hitchcut";
  text-align: center;
  color: #f1a641;
  margin-top: 5%;
}

.title {
  display: block;
  margin: auto;
  font-size: 80px;
  font-family: "Hitchcut";
  text-align: center;
  color: #f1a641;
}

.description {
  display: block;
  margin: auto;
  font-size: 30px;
  font-family: "Aleo";
  text-align: center;
  color: #8dc740;
  word-wrap: none;
}

.smallTitle {
  margin: auto;
  font-size: 25px;
  font-family: "Aleo";
  text-align: center;
  color: #f1a641;
  margin-top: 2%;
}
.smallDesc {
  font-size: 25px;
  font-family: "Aleo";
  text-align: center;
  color: #8dc740;
  margin-top: 1%;
  width: 300px;
  word-wrap: break-word;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #8dc740;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  border-radius: 50px 50px;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  font-family: "Hitchcut";
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  flex-grow: 4;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f1a641;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #f1a641;
  color: white;
}

@font-face {
  font-family: "Hitchcut";
  src: url(Fonts/Hitchcut/Hitchcut-Regular.ttf);
}

@font-face {
  font-family: "Aleo";
  src: url(Fonts/Aleo/Aleo-Regular.ttf);
}
