/* sets base style for each page */

/* set background image per page */
.index-bg {
  background: url("images/background_brown.png");
  background-size: 100%;
}
.about-bg {
  background: url("images/background_brown.png");
  background-size: 100%;
}
.contact-bg {
  background: url("images/background_brown.png");
  background-size: 100%;
}
.features-bg {
  background: url("images/background_yellow.png");
  background-size: 100%;
}
.description-bg {
  background: url("images/background_brown.png");
  background-size: 100%;
}
.menu-bg {
  background: url("images/background_brown.png");
  background-size: 100%;
}

/* body {
  background-image: url("images/background.png");
  background-size: 100%;
} */

.imgLogo {
  width: 300px;
  margin-top: 10%;
  /* float: center;
  padding: 0%; */
}

p {
  float: center;
  padding: 0%;
}

/* remove the underline colour from links */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* image size used for the logo */
.smallImageSize {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: 10%;
  /* width: 50%; */
}

/* image size used for the food pictures */
.mediumImageSize {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-top: 10%;
  /* width: 50%; */
}

/* image size used for the food pictures */
.bigImageSize {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-top: 5%;
  margin-bottom: -4%;
  /* width: 50%; */
}

.bigImageSize-2 {
  display: block;
  position: absolute;
  right: 0%;
  margin-left: auto;
  margin-right: -20%;
  width: 900px;
  margin-top: -4.9%;
  float: right;
  height: 800px;
}

/* containers to show the menu */
.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 200;
  height: 100;
  gap: 10px;
  /* column-gap: 100px; */
}

.flex-container-column1 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 700px;
  height: 100px;
  justify-content: space-between;
  gap: 10px;
}
.flex-container-column2 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 200px;
  height: 100px;
  gap: 10px;
  column-gap: 100px;
}

.flex-container-column3 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 200px;
  height: 100px;
  gap: 100px;
  column-gap: 100px;
}

.flex-container-column4 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 700px;
  height: 100px;
  gap: 50px;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  justify-content: space-between;
}

.flex-container-row-1 {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.subtitle {
  display: block;
  margin: auto;
  font-size: 80px;
  font-family: "Hitchcut";
  text-align: center;
  color: #f1a641;
  margin-top: 5%;
}

.topic {
  display: block;
  margin: auto;
  position: center;
  font-family: "Hitchcut";
  text-align: center;
  color: #f1a641;
  font-size: 21px;
}

.descTopic {
  display: block;
  margin: auto;
  font-size: 25px;
  font-family: "Aleo";
  text-align: center;
  color: #8dc740;
  word-wrap: none;
}

.descTopic2 {
  display: block;
  margin: auto;
  font-size: 25px;
  font-family: "Aleo";
  text-align: justify;
  color: #8dc740;
  word-wrap: none;
}

.title {
  display: block;
  margin: auto;
  font-size: 80px;
  font-family: "Hitchcut";
  text-align: center;
  color: #f1a641;
}

.description {
  display: block;
  margin: auto;
  font-size: 30px;
  font-family: "Aleo";
  text-align: center;
  color: #8dc740;
  word-wrap: none;
}

.smallTitle {
  margin: auto;
  font-size: 30px;
  font-family: "Aleo";
  text-align: center;
  color: #f1a641;
  margin-top: 2%;
}

.smallTitle-brown {
  margin: auto;
  font-size: 30px;
  font-family: "Aleo";
  text-align: center;
  color: #3d2a2c;
  margin-top: 2%;
  font-weight: bold;
}

.subtitle-brown {
  display: block;
  margin: auto;
  font-size: 80px;
  font-family: "Hitchcut";
  text-align: center;
  color: #3d2a2c;
  margin-top: 5%;
}

.smallDesc-brown {
  font-size: 25px;
  font-family: "Aleo";
  text-align: center;
  color: #3d2a2c;
  margin-top: 1%;
  width: 300px;
  word-wrap: break-word;
}

.smallDesc {
  font-size: 25px;
  font-family: "Aleo";
  text-align: center;
  color: #8dc740;
  margin-top: 1%;
  width: 300px;
  word-wrap: break-word;
}

.longDesc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  margin-top: 5%;
  margin-bottom: -4%;
  /* width: 50%; */
  font-size: 30px;
  font-family: "Aleo";
  text-align: justify;
  color: #8dc740;
  word-wrap: break-word;
  /* width: 1000px;
  margin-left: 10%; */
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #8dc740;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  border-radius: 50px 50px;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  font-family: "Hitchcut";
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  flex-grow: 4;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f1a641;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #f1a541db;
  color: white;
}

@font-face {
  font-family: "Hitchcut";
  src: url(Fonts/Hitchcut/Hitchcut-Regular.ttf);
}

@font-face {
  font-family: "Aleo";
  src: url(Fonts/Aleo/Aleo-Regular.ttf);
}
